################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/evenflowhomesolutions.github.io.slnx/FileContentIndex/2469a909-bbd8-4f19-a3ed-8320afb04882.vsidx
/.vs/evenflowhomesolutions.github.io.slnx/FileContentIndex/600936b0-cce0-4f63-8253-346eab6f03fe.vsidx
/.vs/evenflowhomesolutions.github.io/CopilotIndices/18.5.39187.10602
/.vs/evenflowhomesolutions.github.io.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs
/working assets/5. Marketing
